.page {
  background-color: var(--page-bg-color);
  background-attachment: fixed;
}

.header {
  display: grid;
  height: 100vh;
  min-height: 668px;
  margin-bottom: 40px;
  padding: 10px;
  background-image: var(--header-bg-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  margin: 10px;
  border-bottom: 1px solid var(--decorated-zone-border-color);
  border-left: 1px solid var(--decorated-zone-border-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  margin: 10px;
  border-top: 1px solid var(--decorated-zone-border-color);
  border-right: 1px solid var(--decorated-zone-border-color);
}

.bulb {
  justify-self: end;
  margin-bottom: 39px;
}

.bulb_text {
  position: relative;
  display: inline-block;
  padding-right: 28px;
  color: var(--accent-color);
  font-family: var(--font-family-main);
  font-size: var(--font-size-text);
  line-height: 25px;
  text-transform: uppercase;
}

.bulb_text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% - 18px);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background: var(--accent-color);
  transform: translateY(-50%);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-button {
  height: 26px;
  margin-bottom: 10px;
  border: none;
  padding: 0 13px;
  color: var(--button-text-color);
  font-family: var(--font-family-main);
  font-size: var(--font-size-text);
  line-height: 18px;
  text-transform: lowercase;
  background: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-button-hower-color);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  border: none;
  border-bottom: 1px solid var(--button-text-color);
}

.header__theme-menu-button_type_dark {
  margin-bottom: 0;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-text-color);
  pointer-events: none;
}

.header_title {
  margin-top: 68px;
  margin-bottom: 55px;
  color: var(--title-color);
  font-family: var(--font-family-main);
  font-weight: bold;
  font-size: var(--font-size-title);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header_text {
  margin-bottom: calc(31px + 25px);
}

.title-decor {
  color: var(--title-decor-text-color);
  font-family: var(--font-family-main);
  font-weight: bold;
  font-size: var(--font-size-text);
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.main {
  display: grid;
  gap: 50px;
  margin-bottom: 40px;
}

.section {
  display: grid;
  gap: 20px;
  padding: 0 10px;
}

.section-title {
  color: var(--section-title-text-color);
  font-family: var(--font-family-main);
  font-weight: bold;
  font-size: var(--font-size-text);
  line-height: 23.4px;
}

.article-title {
  margin-bottom: 10px;
}

.article-text {
  color: var(--article-text-color);
  font-family: var(--font-family-main);
  font-size: var(--font-size-text);
  line-height: 23.4px;
}

.section-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section-link:hover {
  text-decoration: underline;
  text-decoration-color: currentColor;
}

.section-link:focus {
  outline: 1px solid currentColor;
  text-decoration: none;
}

.adviÑe {
  font-weight: normal;
}

.gallery-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.image {
  width: 100%;
  height: 100%;
}

.footer {
  display: grid;
  place-items: center;
  height: 100vh;
  min-height: 668px;
}

.footer-title {
  color: var(--title-color);
  font-family: var(--font-family-main);
  font-weight: bold;
  font-size: var(--font-size-title);
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >=768px) {
  :root {
    --font-size-title: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    grid-template-columns: 1fr 1fr;
    min-height: 1024px;
    margin-bottom: 60px;
    padding: 20px;
  }

  .decorated-zone::before {
    margin: 20px;
  }

  .decorated-zone::after {
    margin: 20px;
  }

  .bulb {
    grid-column: 1 / 3;
    margin-bottom: 146px;
  }

  .header__theme-menu {
    grid-column: 1 / 3;
    justify-self: end;
  }

  .header_title {
    grid-column: 1 / -1;
    margin-top: 173px;
    margin-bottom: 162px;
    margin-left: -20px;
    font-size: var(--font-size-title);
  }

  .header_text {
    grid-column: 2;
    margin-bottom: 163px;
  }

  .main {
    gap: 80px;
    margin-bottom: 60px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 0 20px;
  }

  .section-title {
    grid-row: 1/3;
  }

  .section-title-causes {
    grid-row: 1;
  }

  .article-multitasking,
  .article-food,
  .article-gadgets {
    grid-column: 1 / 3;
  }

  .section-title-how-concentrate {
    grid-row: 1/7;
  }

  .gallery-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery-title {
    grid-column: 1 / -1;
  }

  .image {
    object-fit: cover;
  }

  .image-sunset {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .image-ice-cream {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  .image-tape {
    grid-column: 1;
    grid-row: 3 / 5;
  }

  .image-books {
    grid-column: 2;
    grid-row: 3;
  }

  .image-street {
    grid-column: 2/4;
    grid-row: 4;
  }

  .footer {
    min-height: 1024px;
  }

  .footer-title {
    font-size: var(--font-size-title);
  }
}

@media (width >=1024px) {
  .header {
    grid-template-columns: 1fr repeat(2, 1fr) 1fr;
    align-items: start;
    min-height: 768px;
  }

  .bulb {
    grid-column: 4;
    grid-row: 1;
    margin-bottom: 0;
  }

  .header__theme-menu {
    grid-column: 2 / 4;
    grid-row: 1;
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .header__theme-menu-button {
    margin-bottom: 0;
  }

  .header_title {
    grid-column: 1 / -1;
    margin-top: 273px;
    margin-bottom: 114px;
  }

  .header_text {
    grid-column: 3 / 5;
    margin-bottom: 114px;
  }

  .section-causes {
    grid-template-columns: repeat(3, 1fr);
  }

  .article-multitasking {
    grid-column: 1;
  }

  .article-food {
    grid-column: 2;
  }

  .article-gadgets {
    grid-column: 3;
  }

  .footer {
    min-height: 768px;
  }
}